main {
    display: flex;
    flex-direction: column;
    margin: 4vh auto;
    
    text-align: center;
    align-items: center;
    width: 100vw;
}
main h1 {
    margin-bottom: 4vh;
}

#contact-form {
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
    
}
.form-contact{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 5vh;
   border-radius: 2%;
   box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
#mail{
    margin-top: 1.5vh;
}
  #text-area-contact{
    height: auto;
    
    margin-top: 1.5vh;
    
  }
  
#submit-contact {
    height: 7vh;
   margin-top: 4vh;
    border-radius: 5%;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #44bde7;
    color: white;
    cursor: pointer;
}
  
#submit-contact:hover {
    background: white;
    color: #44bde7;
}

/*FOOTER TEMPORÁRIO PARA MANTER PÁG SEM ROLAGEM ENQUANTO FOOTER É DESENVOLVIDO*/
footer .copyright{
    bottom: 20vh;
    position: absolute;
bottom: 0;
width: 100vw;
}

@media (min-width: 630px){
     /*CORREÇÃO RESPONSIVIDADE BOTÃO DA PÁG DE CONTATOS*/
     #submit-contact {
        width: 8vw;
    }
}
@media (max-width:630px){
    
    
   /*CORREÇÃO DE RESPONSIVIDADE PÁG DE CONTATOS*/ 
    #name{
        width:90vw;
    }
   #mail{
    width:90vw;
   }
   #text-area-contact{
    width: 90vw;
   }
   #submit-contact{
    width: 25vw;
   }
}