/* ESTILOS DO HEADER */

header {
    background-color: #44bde7;
}

header .logo {
    padding: 10px;
    width: 250px;
    height: 100px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}

header nav ul{
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255,255,255,0.15);
}

#checkbox-menu{
    display:none
}