/* ESTILOS DO HEADER */

header {
    background-color: #0367A6;
}

header .logo {
    padding: 10px;
    width: auto;
    height: 13vh;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    max-width: 100%;
    height: 13vh;
    margin: auto;
}

header nav ul{
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul > li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: #262621;
}


#checkbox-menu{
    display:none;
}


/*Estilos do menu dropdown*/


.submenu-locais{
    text-align: start;
    position: absolute;    
    padding-left: 0;
    background-color: #0367A6;    
    display: none;
    z-index: 10;
}

.submenu-locais li{
    width: 100%; 
}

.submenu-locais li a {
    width: 100%;
}

.menu > li:hover > .submenu-locais{
    display: block;
}


/* Responsividade mobile */

@media only screen and (max-width:740px){
    .menu-button-container {
        display: flex
    }

    .menu {
        position: absolute;
        left: 0;
        top: 80px;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        transform: scaleX(0);
        z-index: 1;
    }

    .menu li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        color: white;
        background-color: #0367A6;
        border-radius: 5px;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid white;
    }

    .menu li a {
        flex: 1; 
        text-align: center;
    }

    main .container-menu img {
        display: none;
    }

    .container-menu {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }

    .submenu-locais{
        width: 100%;
        position: absolute;
        overflow: hidden;
        top: 140px;
        max-height: 0;
        flex-direction: column;
        text-align: center;
        transition: all 0.3s;
    } 

    .menu > li:hover > .submenu-locais{
        height: auto;
        max-height: 800px;
    }

    .submenu-locais li{
        border-radius: 5px;
    }
    
    .submenu-locais li a{
        border-bottom: 1px solid white;
    }


    #header label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
    }

    label span {
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 30px;
        transition: 0.25s ease-in-out;
    }

    label span:nth-child(1) {
        top: 0;
    }

    label span:nth-child(2) {
        top: 8px;
    }

    label span:nth-child(3) {
        top: 16px;
    }

    #checkbox-menu:checked+label span:nth-child(1) {
        transform: rotate(-45deg);
        top: 8px
    }

    #checkbox-menu:checked+label span:nth-child(2) {
        opacity: 0;
    }

    #checkbox-menu:checked+label span:nth-child(3) {
        transform: rotate(45deg);
        top: 8px
    }

    nav.menu {
        width: 100%;
    }

    #checkbox-menu:checked~nav .menu {
        transform: scaleX(1);
        transform-origin: right;
        transition: transform 0.5s ease;
    }

    
}