/* Estilos específicos da Home */


/*-------------------------------------------CARROSSEL------------------------------------------*/
.caption, .informs {
    font-style: italic;
    align-items: top;
    font-family: "Source Sans Pro", 'Times New Roman';
    text-shadow: 0 0 0.2em #000, 0 0 0.2em #000, 0 0 0.2em #000;
}



/* -------------------------------------------- MAIN -----------------------------------------------*/
main {
    display: flex;
    align-items:flex-start;
    justify-content: center;    
    opacity: 0.9;
    flex-direction: column;
}

.animation {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px auto;
    width: 100%;
}

video {
   width: 70%;
   max-width: 450px;
}

 -------------------------------------------- ARTIGO -----------------------------------------------*/

#introdution-texts {
  display: flex;
  flex-direction: column; 
  margin: 30px auto;    
  background-color: #f5f6f3;
  padding: 30px 80px;
  width: 90%;
}

#introdution-texts p {
  text-align: justify;
  line-height: 22px;
  padding-top: 10px;
}

#introdution-texts h1 {
    text-align: center;
    margin: 30px;
    font-size: 2.5em;
}

#introdution-texts h2 {
    text-align: center;
    margin-top: 20px;
}

.cidades, .natureza, .gastronomia {
    display: flex;
}

.cidades img, .natureza img, .gastronomia img {   
  max-width: 350px;    
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}


/*----------------------------------- CARDS ------------------------------------*/

#cards {
    padding: 20px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#cards #title-cards {
    margin: 30px 0;
}

#cards #all-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
}

#cards #all-cards .cardState {
    flex: 1;
    padding: 20px 50px;
}


.cards .lista ul {
    align-items: center;
    justify-content: center;
    text-align: center;    
    flex-direction: row;    
    padding: 20px;
    margin: 0 auto;
    width: 980px;
}

.cards ul li {
    list-style: none;
    margin-top: 20px;
}

li .cardState {
    flex: 50%;
}

.cardState:hover {
    transition: 0.5s;
    transform: translateY(-9px);
}