/* Estilos específicos da Home */


/* ------------------------- MAIN --------------------------*/
main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0.9;
  flex-direction: column;
}

.animation {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
  width: 100%;
}

#video{
  width: 100%;
  height: 90vh;
  align-items: center;
}
iframe {
  width: 100%;
  height: 100%;
} 

/*-------------------------- ARTIGO ------------------------*/

#introdution-texts {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  background-color: #f5f6f3;
  padding: 30px 50px;
  width: 90%;
}

#introdution-texts p {
  text-align: left;
  line-height: 22px;
  padding-top: 10px;
}

#introdution-texts h1 {
  text-align: center;
  margin: 30px;
  font-size: 2em;
  color: #011640;
}

#introdution-texts h2 {
  text-align: center;
  margin: 30px;
  color: #011640;
}

.cidades,
.natureza,
.gastronomia {
  display: flex;
}

.cidades img,
.natureza img,
.gastronomia img {
  width: 50%;
  max-width: 550px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 0 0.5em #262621;
}


/*---------------------- CARROSSEL -------------------------*/

#carousel{
  width: 100%;
  margin-bottom: 30px;
  
}

.carousel-images{
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}


.carousel-images a{
  font-size: 2em;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: transparent;
}


.carousel-images a:hover{  
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
} 


.carousel-images img{
  display: none;
}

.carousel-images .active{
  display: flex;
  width: 100%;
  max-height: 87vh;  
  transition:  0.5s ease;
}


#left-button{
  left: 20px;
  position: absolute;    
}

#rigth-button{
  right: 20px;
  position: absolute;
}

#left, #rigth{
  width: 30px;
  background-color: white;
}

.text-informs{  
  left: 0;
  right: 0;
  top: 90%;
  bottom: 0;
  margin: auto;
  font-size: 1em;
  display: flex; 
  width: 100%;
  justify-content: center;
  position: absolute; 
  align-items: baseline; 
  
}

.caption, .informs {
 
  color: white;
  font-weight: bold;
  font-style:oblique;
  text-shadow: 0 0 0.4em #000, 0 0 0.4em #000, 0 0 0.4em #000;
}


/* Responsividade elementos da home */

@media (max-width: 992px) {
  main #introdution-texts {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .cidades p,
  .natureza p,
  .gastronomia p {
    flex-direction: column;
  }


}

@media (max-width: 630px) {
  .animation div video {
    width: 100%;
  }

  .cidades figure,
  .natureza figure,
  .gastronomia figure {
    text-align: center;
  }

  .cidades img,
  .natureza img,
  .gastronomia img {
    width: 100%;
  }

  .text-informs{
    font-size: 0.7em;
  }

  #video{
    height: 50vh;
  }

}

@media (min-width: 630px) {
  

  .natureza img {
    float: left;
    margin-right: 10px;
  }

  .cidades img,
  .gastronomia img {
    float: right;
    margin-left: 10px;
  }
}


