/* Estilos padrão das páginas dos estados */

/*Estilos gerais da main */

main h1{
    font-size: 2.5em;
    color: #00689C;
    padding: 20px;
}

main p{
    font-size: 1.1em;
    text-align: justify;
    padding: 10px;
}

article{
    margin-bottom: 80px;
}

.text-introdution{
    font-size: 1.2em;
    padding: 10px 30px;
}

.text-introdution a{    
    text-decoration: none;
    color: #00689C;
    font-weight: bold;
}

.text-introdution a:hover{
    text-decoration: underline;
}

/* Estilos da seção de cards */

.animation-cards{
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}

.card-container{
    background-color: #f5f6f3;
    width: 30%;
    height: 50%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 1.5em black;
}

.card-container:hover{
    opacity: 0.7;
    transform: translateY(-15px);
    transition: 0.5s;
}

.card-container figure img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.card-container figure{ 
    width: 100%;
    height: 80%;
}

.content p{
    text-align: center;
    color: #00689C;
    font-weight: bold;
}

/* Estilo da seção de artigos */

.article-container{
    display: flex;
    flex-direction: column; 
    margin: 30px auto;  
    background-color: #f5f6f3;
    padding: 30px;
    margin-bottom: 0;
    width: 95%;
    border-radius: 10px;
}

.article-container h2{
    text-align: center;
    color: #00689C;
    padding-bottom: 50px;
    font-size: 1.8em;
}

.article-container h3{
    text-transform: uppercase;
    font-style: unset;
    padding: 0 10px;  
    padding-bottom: 20px;  
}

.article-container p{
    padding-bottom: 30px;
}

.article-container a{
    text-decoration: none;
    color: #00689C;
    font-weight: bold;
}

.article-container a:hover{
    text-decoration: underline;
}

.article-container > div figure img{
    width: 50%;
    max-width: 400px;
    max-height: 350px;
    border-radius: 10px;
    margin: 15px;
}

.article-container span{
    font-style: oblique;    
}

.article-container ul{
    padding-left: 15px;
}

/*Media query float images*/

@media (min-width:730px){
    .image-left img{
        float: left;
        margin-right: 10px;
    }

    .image-right img{
        float: right;
        margin-left: 10px;
    }
}

/*Responsividade mobile */

@media (max-width:720px){

    .text-introdution{        
        margin-bottom: 70px;
    }

    /* Responsividade dos cards */
    .animation-cards{
        height: 100%;
        justify-content: center;
        flex-direction: column;
    }

    .card-container{
        width: 300px;
        height: 280px;
        margin-bottom: 70px;
    }

    /*Responsividade da seção de artigos */
    .article-container{
        padding: 15px;        
    }

    .article-container figure{
        text-align: center;
    }

    .article-container > div figure img{
        width: 90%;
        max-width: 450px;
        margin-bottom: 20px;
    }
}

/* Responsividade dos cards para telas maiores*/

@media (min-width:930px){
    .card-container{ 
        height: 70%;
    }
}

@media (min-width:1200px){
   .animation-cards{
    height: 550px;
   }
}




