@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    font-family: "Source Sans Pro", 'Times New Roman';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(0deg, rgb(146, 200, 237) 0%, rgb(249, 241, 140) 50%, rgb(165, 243, 165) 100%);
} 

/* -------------------------------------------- MAIN -----------------------------------------------*/
main {
    display: flex;
    align-items:flex-start;
    justify-content: center;    
    opacity: 0.9;
    flex-direction: column;
}

.animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 100%;
}

video {
    height: 500px;
}

/**/

#menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.map-area-transform {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 80%;
}

.mapa-svg-estados {   
    
    fill: rgb(7, 7, 6); 
    background-image: url(./greenBase.jpg);
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -ms-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
    stroke: transparent;
    stroke-dasharray: 180%;
    stroke-dashoffset: -120%;
    stroke-width: 2px;
}

.mapa-svg-estados:hover {
    /*opacity: 0.6;*/
    cursor: pointer;
    stroke:#0098ff;
    fill: #525252;
    stroke-dashoffset: 0%;
}

.mapa-svg-estados-active {
    
    cursor: pointer;
    stroke: #0098ff;
    fill: #525252;
    stroke-dashoffset: 0%;
}

.container-img {
    width: 300px;
    height: 300px;
}

/* -------------------------------------------- MENU LATERAL -----------------------------------------------*/
aside {
    padding: 100px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;    
    background-color: #0098ff;    
    height: 170%;
    border: 1px solid white;
    border-radius: 10px;
}

aside ul li {
    list-style: none;
    margin-top: 20px;
}

.menu-lateral img:hover {
    transition: 0.5s;
    transform: translateY(-9px);
}

/* -------------------------------------------- ARTIGO -----------------------------------------------*/

#introdution-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: justify;   
    margin: 30px auto;
    line-height: 22px;
    background-color: #f5f6f3;
    padding: 30px 100px;
    max-width: 1200px;
}

#introdution-texts h1 {
    text-align: center;
    margin: 30px;
    font-size: 36px;
}

#introdution-texts h2 {
    margin-top: 20px;
}

.cidades, .natureza {
    display: flex;
}

.cidades img {
    margin-left: 10px;
    max-width: 350px;
}

.cidades p {
    margin-right: 10px;
}

.natureza img {
    margin-right: 10px;
    max-width: 350px;
}

.natureza p {
    margin-left: 10px;
}

.gastronomia img {
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.gastronomia p {
    font-size: 10px;
    align-items: center;
    text-align: center;
}
/*------------------------- CARDS -------------------------*/

#cards {
    padding: 20px;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#cards #title-cards {
    margin: 30px 0;
}

#cards #all-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
}

#cards #all-cards .card {
    flex: 1;
    padding: 20px 50px;
}


.cards .lista ul {
    align-items: center;
    justify-content: center;
    text-align: center;    
    flex-direction: row;    
    padding: 20px;
    margin: 0 auto;
    width: 980px;
}

.cards ul li {
    list-style: none;
    margin-top: 20px;
}

li .card {
    flex: 50%;
}

.card:hover {
    transition: 0.5s;
    transform: translateY(-9px);
}

/* --------------------------------------------EQUIPE -----------------------------------------------*/
#team {
    margin: 50px;
    padding: 20px;
    line-height: 50px;
    text-align: center;
    align-items: center;
}

.firstrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}

.secondrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
}

.cardteam {
    position: relative;
    width: 300px;
    height: 140px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
  }
  
  .cardteam:hover {
    height: 400px;
  }
  
  .imgBx {
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
    opacity: 0.9;
  }
  
  .cardteam:hover .imgBx {
    width: 200px;
    height: 200px;
  }
  
  .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cardteam .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    overflow: hidden;
  }
  
  .cardteam .content .details {
    padding: 5px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
  }
  
  .cardteam:hover .content .details {
    transform: translateY(0px);
  }
  
  .cardteam .content .details h2 {
    font-size: 1.10em;
    font-weight: 600;
    color: black;
    line-height: 1.2em;
  }
  
  .cardteam .content .details h2 span {
    font-size: 0.8em;
    font-weight: 500;
    opacity: 0.7;
  }
  
  .cardteam .content .details .data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 22px 40px;
  }
  
  .cardteam .content .details .data h3 {
    font-size: 1em;
    color: black;
    line-height: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .cardteam .content .details .data h3 span {
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.7;
  }
  
  .cardteam .content .details .actionBtn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .cardteam .content .details .actionBtn button {
    padding: 10px;
    margin: 0 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 0.96em;
    font-weight: 600;
    background: #44bee7;
    color: #d3f197;
    cursor: pointer;
  }

  .cardteam .content .details .actionBtn button:hover {
    background: #d3f197;
    color: #44bee7;
  }

  button a {
    color: white;
    text-decoration: none;
  }



.state-ac {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(../assets/acre-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.state-sp {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(../assets/sao-paulo-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.state-am {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(../assets/amazonas-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.state-pa {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(../assets/para-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.state-es {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(../assets/espirito-s-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.state-rj {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(../assets/rio-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.state-rs {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(../assets/rio-g-sul-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}


@media only screen and (max-width: 430px) {
    .map-area-transform {
        display: none;
    }

    aside {
        width: 100%;
    }


}