@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    font-family: "Source Sans Pro", 'Times New Roman';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    
} 

main {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    background-image: linear-gradient(0deg, rgb(35, 35, 242) 0%, rgb(246, 246, 58) 50%, rgb(95, 249, 95) 100%);
    opacity: 0.9;
    flex-direction: column;
}

#menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
}

.map-area-transform {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;
    width: 80%;
}

aside {
    padding: 100px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: block;    
    background-color: #0098ff;    
    height: 175%;
    border: 1px solid white;
    border-radius: 10px;
}

aside ul li {
    list-style: none;
    margin-top: 20px;
}

.mapa-svg-estados {   
    
    fill: rgb(7, 7, 6); 
    background-image: url(./greenBase.jpg);
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -ms-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
    stroke: transparent;
    stroke-dasharray: 180%;
    stroke-dashoffset: -120%;
    stroke-width: 2px;
}

.mapa-svg-estados:hover {
    /*opacity: 0.6;*/
    cursor: pointer;
    stroke:#0098ff;
    fill: #525252;
    stroke-dashoffset: 0%;
}

.mapa-svg-estados-active {
    
    cursor: pointer;
    stroke: #0098ff;
    fill: #525252;
    stroke-dashoffset: 0%;
}

.container-img {
    width: 300px;
    height: 300px;
}

#introdution-texts {
    width: 70%;
    display: inline;
    text-align: justify;
    align-items: flex-end;
}

#introdution-texts h1{
    text-align: center;
}

#team {
    margin: 50px;
    padding: 20px;
    line-height: 50px;
    text-align: center;
    align-items: center;
}
img:hover {
    transition: 0.5s;
    transform: translateY(-9px);
}



/* ------------------------ CLASSES ESTADOS ----------------------------------- */

.acre-hover {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(./assets/acre-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.sao-paulo-hover {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(./assets/sao-paulo-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.amazonas-hover {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(./assets/amazonas-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.para-hover {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(./assets/para-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.espirito-s-hover {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(./assets/espirito-s-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.rio-hover {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(./assets/rio-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.rio-g-sul-hover {
    margin-top: -250px;
    left: 10%;
    width: 150px;
    height: 150px;
    background-image: url(./assets/rio-g-sul-m.png);
    object-fit: contain;
    position: absolute;
    transition: 0.5s ease-in-out;
}


@media only screen and (max-width: 430px) {
    .map-area-transform {
        display: none;
    }

    aside {
        width: 100%;
    }


}