@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    font-family: "Source Sans Pro", 'Times New Roman';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(0deg, rgb(146, 200, 237) 0%, rgb(249, 241, 140) 50%, rgb(165, 243, 165) 100%);
    scroll-behavior: smooth;
} 

.text-justify{
  text-align: justify;
}

.text-center{
  text-align: center;
}

.btnScrollToTop {
  text-align: end;
  position: fixed;
  right: 5px;
  bottom: 60px;
  width: 50px;
  border: none;
  z-index: 99;
  display: none;
}

#icon-btn {
  font-size: 2rem;
  color: #0a7396;
}

