@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    font-family: "Source Sans Pro", 'Times New Roman';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-image: linear-gradient(0deg, rgb(146, 200, 237) 0%, rgb(249, 241, 140) 50%, rgb(165, 243, 165) 100%);
    scroll-behavior: smooth;
} 

.text-justify{
  text-align: justify;
}

.text-center{
  text-align: center;
}

.btn-back-top {
  padding: 0.375rem 0.75rem;
  background-color: #0d6efd;
  color: #fff;
  text-decoration: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
}

.btn-back-top:hover {
  background-color: #0a53be;
}

/*Estilos do Footer*/

footer{
  font-size: 0.9em;
  background-color: #f6ebdd;
}

#footer-content{ 
  display: flex;
  justify-content: center; 
}
@media screen and (max-width: 600px) {
  #footer-content {
    display: none;
  }
}


#footer-content p{
  text-align: center;
  padding-bottom: 10px;
}

.media-content{
  border-right: 1px solid #00689C;
  border-bottom: 1px solid #00689C;
  width: 49%;
  text-align: center;
}

#logo-style{
  display: flex;
  align-items: center;
}

.media-content img{
  margin-bottom: 10px;
}

.media-content span{
  font-size: 2em;
  padding: 10px;
  text-transform: uppercase;
  text-decoration:wavy;
}

#logo-tipo{  
  text-align: justify;
  width: 50px;
  height: 50px;
}

.icons-media{  
  width: 35px;
  height: 35px;
}

.contact{
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center ;
  text-align: justify;
  width: 49%;
  border-bottom: 1px solid #00689C;
}

.media-content h4{
  padding-bottom: 10px;
}

.contact label, .contact input{
  margin-bottom: 10px;
}

.contact input{
  padding: 5px;
}

footer .copyright{
  text-align: center;
  padding: 5px;
  font-size: 1.5em;
}
