/* Estilos personalizados da página team */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", 'Times New Roman';
}
#ptTurism{
  display: none;
}
body h1 {
  font-size: 2rem;
  color: #011640;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 6vh 0 4vh 0;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

body h1 span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

body h1 span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

body h1 span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

body h1 span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

body h1 span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

body h1 span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 20px;
  margin: 0 2vw 0 2vw;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  height: 390px;
  width: 220px;
  background-color: white;
  padding: 1px 30px 5px 30px;
  border-radius: 20px;
  margin: 20px 10px;
  box-shadow: 0 0 1em #262621;
}

.card-container:hover{
    opacity: 0.7;
    transform: translateY(-15px);
    transition: 0.5s;
}

.card-header {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 500px 0;
  background: none;
}

.user-profile-image1 {
  background-image: url(../Images/teamphotos/jessica.jpeg);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image2 {
  background-image: url(../Images/teamphotos/wesley.jpg);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image3 {
  background-image: url(../Images/teamphotos/wellington.jpeg);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image4 {
  background-image: url(../Images/teamphotos/cristiane.jpeg);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image5 {
  background-image: url(../Images/teamphotos/jaqueline.jpg);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image6 {
  background-image: url(../Images/teamphotos/mario.jpeg);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image7 {
  background-image: url(../Images/teamphotos/thiago.jpg);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image8 {
  background-image: url(../Images/teamphotos/rodrigo);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image9 {
  background-image: url(../Images/teamphotos/ana);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image10 {
  background-image: url(../Images/teamphotos/Juliana.jpeg);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image11 {
  background-image: url(../Images/teamphotos/yashina.jpg);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image12 {
  background-image: url(../Images/teamphotos/matheus);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

.user-profile-image13{
  background-image: url(../Images/teamphotos/thamiris);
  background-size: cover;
  width: 220px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}


.username {
  margin-top: 3px;
  line-height: 1.5;
  font-weight: 700;
  color: #011640;
  font-size: 1.1rem;
}

.user-bio {
  color: #011640;
  font-size: 0.8rem;
  font-weight: 600;
}

.about-section {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  column-gap: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #011640;
}

.item-value {
  font-weight: 700;
}

.item-label {
  font-size: 0.6rem;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-btn {
  background: #011640;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 0px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin: 5px 0;
  cursor: pointer;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: white;
}

@media only screen and (max-width: 350px){
  main {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
    margin: 0 20px 0 20px; 
  }

  .card-container {    
    margin: 10px 10px;
    height: 390px;
    width: 220px;
  }

  h1 {
    font-size: 1.2rem;
    margin: 20px;
  }
}


