/* Estilos personalizados da página team */
* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  margin: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 20px;
  margin-right: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  height: 380px;
  width: 220px;
  background-color: white;
  padding: 30px 30px 10px 30px;
  border-radius: 20px;
}

.card-header {
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 500px 0;
  background: none;
}

.user-profile-image1 {
  background-image: url(../Images/teamphotos/jessica.jpeg);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}

.user-profile-image2 {
  background-image: url(../Images/teamphotos/wesley.jpg);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}

.user-profile-image3 {
  background-image: url(../Images/teamphotos/wellington.jpeg);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}

.user-profile-image4 {
  background-image: url(../Images/teamphotos/cristiane.jpeg);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}

.user-profile-image5 {
  background-image: url(../Images/teamphotos/jaqueline.jpg);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}

.user-profile-image6 {
  background-image: url(../Images/teamphotos/mario.jpeg);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}

.user-profile-image7 {
  background-image: url(../Images/teamphotos/thiago.jpg);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}

.user-profile-image8 {
  background-image: url(../Images/teamphotos/rodrigo);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}

.user-profile-image9 {
  background-image: url(../Images/teamphotos/ana);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}

.user-profile-image10 {
  background-image: url(../Images/teamphotos/juliana);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}

.user-profile-image11 {
  background-image: url(../Images/teamphotos/yashina.jpg);
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #44bee7;
}


.username {
  margin-top: 5px;
  line-height: 1.5;
  font-weight: 600;
  color: #44bee7;
  font-size: 1.1rem;
}

.user-bio {
  color: #44bee7;
  font-weight: 600;
  font-size: 0.8rem;
}

.about-section {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  column-gap: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #44bee7;
}

.item-value {
  font-weight: 700;
}

.item-label {
  font-size: 0.75rem;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-btn {
  background: #44bee7;
  width: 80%;
  outline: none;
  border: none;
  padding: 10px 0px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin: 5px 0;
  cursor: pointer;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: white;
}

@media only screen and (max-width: 400px){
  main {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px;
    margin-right: 20px;
  }

  .card-container {
    margin-bottom: 20px;
    margin: 0 auto;
  }

  h1 {
    font-size: 1rem;
    margin: 20px;
  }
}

@media only screen and (min-width: 400px){
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 20px;
    margin-right: 20px;
  }
  .card-container {
    margin-bottom: 20px;
}
}

